CompileFlags:
  Remove:
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
---
If:
  PathMatch: .*\.(c|cpp)
CompileFlags:
  CompilationDatabase: "SampleProject/build"
---
If:
  PathMatch: .*\.(h|hpp)
CompileFlags:
  Add:
    - -xc++-header
    - -I../../../TXFoundation/include
    - -I../../../TXMath/include
    - -I../../../TXData/include
    - -I../../../TXUtility/include
    - -I../../../TXJson/include
    - -I../../../TXGrid/include
    - -I../../../TXResource/include
    - -I../../../TXGraphics/include